.checkout{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout-top{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkout-top a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 2px;
  color: var(--secondary-color);
}

.checkout-top a:hover {
  text-decoration: underline;
}

.checkout-top span {
  font-size: 1.2rem;
  color: var(--secondary-color);
  font-weight: 600;
}

/* order */
.checkout-container{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
}

.order-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order{
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.order-info{
  display: flex;
  gap: 1rem;
}

.order-info img{
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
}

.order-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-item-top{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--secondary-color);
}

.order-item-top h2{
  font-size: 1.5rem;
  font-weight: 600;
}

.order-item-top p{
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.8;
}

.control-buttons{
  display: flex;
  gap: 2rem;
}

.quantity-controls {
  display: flex;
  gap: 0.5rem;
}

.quantity-controls input {
  border: 1px solid var(--secondary-color);
  font-size: 1rem;
  padding: 0.2em 0.5rem;
  max-width: 40px;
}

.quantity-controls input:focus {
  outline: none;
}

.quantity-controls .quantity-button {
  border: none;
  padding: 0 0.5em;
  color: var(--third-color);
  background-color: var(--secondary-color);
}

.order-right-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-right-buttons .remove-product{
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--secondary-color);
}

.order-right-buttons .remove-product:hover{
  color: var(--third-color);
  background-color: red;
}


.add-to-wishlist {
  margin-top: 8px;
  border: none;
  background: none;
  align-self: flex-end;
}

/* order-summary */
.order-summary{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: var(--third-color);
  align-self: flex-start;
}

.price-div{
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
  font-weight: 600;
}

.price-div .text{
  font-size: 1rem;
  opacity: 0.8;
}

.price-div .price{
  font-size: 1rem;
}

.checkout-btn{
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--third-color);
  background-color: var(--secondary-color);
}

@media screen and (max-width: 1024px) {
  .checkout-container{
    grid-template-columns: 2fr 1fr;
  }

  .order-item-top h2{
    font-size: 1.2rem;
  }
  
  .order-item-top p{
    font-size: 1rem;
  }

  .price-div .text{
    font-size: 0.8rem;
  }

  .price-div .price{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .checkout-container{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 568px) {
  .order{
    flex-direction: column;
    gap: 1rem;
  }
  
  .order-right-buttons{
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 425px) {
  .order-info img{
    width: 100%;
    max-width: none;
    max-height: none;
  }

  .order-info{
    flex-direction: column;
  }

  .order-item{
    gap: 1rem;
  }
}